/****************************/
/* HEADER */
/***************************/
.header {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  height: 9.6rem;
  padding: 1.2rem 4.8rem;
  justify-content: space-between;
}
.logo-nav {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 4.8rem;
}
.search-num {
  justify-content: center;
  align-items: center;
  margin-top: 0.9rem;
  display: flex;
  gap: 2.4rem;
}

/****************************/
/* Navigation */
/**************************/

.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 1rem;
}

.search-bar {
  display: flex;
  border: 1px solid black;
  border-radius: 100px;
  overflow: hidden;
  padding: 0.4rem;
}

.search-bar-input {
  width: 25rem;
  height: 4rem;
  outline: none;
  color: black;
  border: none;
  padding: 1.6rem 2.4rem;
  font-family: "Roboto", sans-serif;
}

.search-button {
  border-radius: 100px;
  width: 4rem;
  height: 4rem;
  outline: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: black;
}

.main-nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}

.nav-number {
  font-weight: 700;
  font-size: 1.8rem;
}

/****************************/
/* Hero */
/**************************/

/* .section-hero {
  padding: 4.8rem 0 9.6rem 0;
} */

.hero-img-box {
  background-image: linear-gradient(
      rgba(25, 25, 25, 0.4),
      rgba(25, 25, 25, 0.4)
    ),
    url("../img/hero1.jpg");
  /* 

 background-size: 100% ,auto, cover;
 
 comma after 100% causes to separate the values 
 hence gradient is scaled instead of images*/
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
}
.hero-heading {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  line-height: 1.05;
  font-size: 5.2rem;
}

.hero-textbox {
  padding: 9.6rem 0 9.6rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin: 0 auto;
  max-width: 130rem;
  align-items: center;
  color: #000;
}
.hero-text-area {
  position: relative;
}

.hero-text-area {
  padding: 8rem 6rem;

  background-color: #ffe066;
  opacity: 85%;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 4.8rem;
}

.hero-buttons {
  padding-bottom: 3.2rem;
}
.buttons {
  display: flex;
  gap: 2rem;
}

/****************************/
/* page-nav */
/**************************/

.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  padding: 0 8rem 0;
}
.page-nav-link:link,
.page-nav-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #999;
  padding: 2.4rem 4.8rem;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
}

.page-nav-link:hover,
.page-nav-link:active {
  background-color: #f1f3f5;
}

/****************************/
/* intro */
/**************************/

.section-packages {
  padding: 8rem 0;
  /* background-coloxr: rgba(0, 0, 0, 0.06); */
}
.heading-box {
  margin-bottom: 8rem;
}
.testimonial-heading,
.gallery-heading,
.article-heading,
.travel-news,
.heading {
  font-family: "Libre Baskerville", serif;
  font-size: 5.2rem;
  line-height: 1.05;
  /* margin-bottom: 3.4rem; */
  font-weight: 400;
  color: #333;
  padding: 1.6rem 0;
  position: relative;
  text-transform: uppercase;
}
.heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 28%;

  background: radial-gradient(black, white);
}

.heading {
  animation-name: slide-in;
  animation-iteration-count: 1;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.package {
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}
.package:hover {
  transform: translateY(-1rem);
}

.package-img {
  width: 100%;
  height: 26rem;
  margin-bottom: 3rem;
  transition: all 0.3s;
}
.package:hover .package-img {
  transform: scale(1.02);
}

.package-content {
  padding-left: 3.6rem;
  padding-bottom: 2.4rem;
}
.package-title {
  font-family: "Libre Baskerville", serif;
  font-size: 2.8rem;
  margin: 1.4rem 0;
}

.package-description {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 3rem;
}

.tiles {
  position: absolute;
  top: 40%;
  left: 0%;

  display: flex;
  gap: 1.2rem;
}

.duration-tile,
.price-tile {
  margin-left: 3.6rem;
  display: inline-block;
  background-color: #00758d;
  color: #fff;
  font-size: 1.4rem;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.price-tile {
  margin-left: 0;
}
.feature-icon {
  font-size: 3.2rem;
}
.feature-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pricing,
.elevation {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.details,
.pricing {
  font-size: 1.6rem;
}

.itinerary {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  height: 10%;
}

.itinerary:link,
.itinerary:visited {
  color: #000;
  transition: all 0.2s;
}

.itinerary::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #ffe066;
  height: inherit;
  width: 100%;
  margin-top: 0.5rem;
  z-index: -1;
  cursor: pointer;
}

.itinerary:hover,
.itinerary:active {
  height: 130%;
}

.package-btn {
  background-color: #ffe066;
  color: #212529;
  margin-top: 6rem;
  padding: 2rem 4rem !important;
}

.package-btn:hover {
  background-color: #212529;
  color: #fff;
}

/* testimonials */

.section-testimonials {
  padding: 8rem 0;
  background-color: #eef2e8;
}

.testimonial-subheading,
.gallery-subheading {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.tesimonial-block {
  position: relative;
  height: 65rem;
}
.testimonial {
  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 1.7fr;
  column-gap: 4.2rem;
  box-shadow: 0.2rem 0.3rem 2.7rem 0.1rem rgb(0 0 0 / 20%);

  position: absolute;
  top: 0;
  left: 3rem;
}
.testimonial-img-box {
  display: flex;
  align-items: center;
}
.testimonial-img {
  padding-left: 4.5rem;
  height: 100%;
  width: 100%;
}

.testimonial-description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}
.quote-opening,
.quote-closing {
  font-size: 8rem;
  color: #dee2e6;
}
.quote-opening {
  transform: rotate(180deg);
}

.ending-quote-box {
  display: flex;
  justify-content: end;
}

.review {
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 4rem 8rem;
}

.Name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f08c00;
  padding: 2rem 8rem;
}
.arrow {
  font-size: 3rem;
  color: #f08c00;
  font-weight: 400;
}
.carousel-arrow {
  border: none;
  border-radius: 50%;
  display: flex;
  background-color: #eef2e8;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.btn-left {
  top: 50%;
  left: -1.8rem;
}
.btn-right {
  top: 50%;
  right: -5rem;
}

/* gallery  */

.section-gallery {
  padding: 8rem 0;
}

.gallery-heading {
  font-size: 3.4rem;
  margin-bottom: 5rem;
}

.gallery-background {
  background: linear-gradient(to right, #3391a4 30%, #dee2e6 0%);
  position: relative;
}

.gallery-grid {
  padding: 4.8rem 3.2rem;
  width: 85%;
  /* background-color: rgba(0, 0, 0, 0.375); */
  gap: 0.7rem;
  grid-template-rows: repeat(6, 5vw);
  grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}

.gallery-img:hover {
  transform: scale(1.05);
}
.gallery-item {
  overflow: hidden;
}

.gallery-1 {
  grid-column: 1 /4;
  grid-row: 1 /-1;
}

.gallery-2 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.gallery-3 {
  grid-column: 5/6;
  grid-row: 1/3;
}
.gallery-4 {
  grid-column: 6/7;
  grid-row: 1/3;
}
.gallery-5 {
  grid-column: 4/6;
  grid-row: 3/-1;
}
.gallery-6 {
  grid-column: 6/-1;
  grid-row: 3/5;
}
.gallery-7 {
  grid-column: 6/-1;
  grid-row: 5/-1;
}

/* updates  */

.section-updates {
  padding: 10rem 0;
}

.travel-news {
  font-size: 3.4rem;
  margin-bottom: 5rem;
}

.hero-article {
  padding: 2rem;
}
.article-img-box {
  margin-bottom: 1.8rem;
}
.hero-article-img {
  height: 28rem;
  object-fit: cover;
}
.article-img {
  width: 100%;
  border-radius: 9px;
}

.article-news-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 2.4rem;
}
.article-description {
  font-size: 1.4rem;
  letter-spacing: 0.75;
  word-spacing: 4px;
  margin-bottom: 3rem;
}

.article-btn:link,
.article-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #00758d;
  font-weight: 700;
  word-spacing: 2px;
  padding-bottom: 2px;
  transition: all 0.3s ease-out;
  position: relative;
}

.article-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.02px;
  width: 100%;
  background-color: #003b47;
  transform: scaleX(0);
  transform-origin: bottom left;

  transition: all 0.25s ease-out;
}
.article-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.article-btn:hover,
.article-btn:active {
  color: #003b47;
}
.small-article-link {
  margin: 2rem;
}

.article {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  padding: 2rem 2rem 2rem 0;
  gap: 1.8rem;
  justify-content: center;
  align-items: center;
}

.small-article-description {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
.article-date {
  color: #00758d;
}
.article-date,
.article-read {
  font-size: 1.4rem;
}
.article-date-read {
  display: flex;
  justify-content: start;
  align-items: stretch;
  gap: 2rem;
}

/* footer */
.footer-container {
  max-width: 135rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.footer {
  padding: 8rem 0;
  background-color: #212529;
  color: #fff;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  row-gap: 3rem;
  column-gap: 6rem;
}
.logo-col {
  justify-self: center;
  align-self: center;
}

.footer-logo,
.newsletter-heading {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3.2rem;
  line-height: 1.05;
  margin-bottom: 3.4rem;
  font-weight: 400;
  color: #fff;
}
.footer-description {
  font-family: "Libre Baskerville", serif;

  margin-top: 3.4rem;
  font-size: 1.6rem;
  line-height: 1.7;
}

.footer-links-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr;
}
.newsletter-row {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.newsletter {
  display: flex;
  /* flex: 1; */
  gap: 4rem;
}
.newsletter-item {
  flex: 1;
}

.newsletter input {
  font-family: "Libre Baskerville", serif;
  border: none;
  border-bottom: 3px solid #777;
  color: #fff;
  background-color: #212529;
}

.newsletter input::placeholder {
  font-family: "Libre Baskerville", serif;
  font-size: 1.4rem;
}

.newsletter-heading {
  font-size: 2rem;
  text-transform: none;
  letter-spacing: 1px;
  margin: 0;
  justify-self: center;
  align-self: center;
}
.newsletter-btn {
  color: #000;
  background-color: #eef2e8;
  flex: 0;
  padding: 2rem 4rem !important;
}

.footer-heading {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.footer-nav {
  list-style: none;
  font-size: 1.4rem;
}
.social-link,
.footer-link {
  text-decoration: none;
  color: #fff;
  padding-bottom: 1px;
  letter-spacing: 1px;
}
.footer-link:link,
.footer-link:visited {
  border-bottom: 1px solid transparent;
  transition: 0.2s all;
}

.footer-link:hover,
.footer-link:active {
  border-bottom: 1px solid #ced4da;
}

.footer-nav li {
  margin-bottom: 2rem;
}

.company-col {
  padding-left: 2rem;
}
.contact-col {
  padding-left: 4rem;
}

.socials-col {
  padding-left: 6.5rem;
}
.social-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.social-link:link p,
.social-link:visited p {
  transition: 0.3s all;
}
.social-link:hover p,
.social-link:active p {
  transform: translateX(-10px);
}

.social-logo {
  height: 2rem;
  width: 2rem;
}

/* sticky */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 9.6rem;
}
